<div class="padding">
  <h1 class="rubrik" data-aos="slide-up">Sociala medier </h1>
<mat-grid-list #grid [cols]="cols" rowHeight="20:11" gutterSize="10px">
  <mat-grid-tile data-aos="slide-up">
    <a href="https://www.instagram.com/skurkeriet2122">
      <span
        class="media iconify"
        data-icon="mdi:instagram"
        data-inline="false"
      ></span>
    </a>
  </mat-grid-tile>
  <mat-grid-tile data-aos="slide-up">
    <a href="http://www.snapchat.com/add/Skurkeriet"
      ><img src="assets/snapchat.png" style="width: 120px" class="media"
    /></a>
  </mat-grid-tile>
  <mat-grid-tile data-aos="slide-up">
    <a href="https://www.facebook.com/skurkeriet">
      <span
        class="media iconify"
        data-icon="mdi:facebook"
        data-inline="false"
      ></span>
    </a>
  </mat-grid-tile>
</mat-grid-list>
</div>