<div>
  <div class="container" data-aos="fade-zoom-in">
    <img class="header" src="assets/image 15.png" />
  </div>

  <div data-aos="slide-up"><h1 class="rubrik" >Skurkeriet</h1>
  <h2 class="text"> Nolle p ska bli vårt</h2></div>
  <app-historia></app-historia>
  <app-skurkeriet></app-skurkeriet>
  <a mat-button routerLink="/spelet">SPELET</a>
  <app-folj-oss></app-folj-oss>
  <app-tengil></app-tengil>
  <div class="märke" data-aos="fade-zoom-in">
    <p class="text">
      Stöd Skurkeriets fortsatta gång genom att köpa Tengilmärket och
      Skurkeriets märke.
    </p>
    <img src="assets/tengilmarke.PNG" class="bild" />
  </div>
</div>
