.container {
    position: relative;
    width: 100%;
  }
  
  .header {
    padding-top: 10px;
    width: inherit;
    height: auto;
    vertical-align: middle;
  }
  .märke{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

   }
   .bild{
    width: 100%;
    height: auto;
    
   }