.container {
    position: relative;
    width: 100%;
  }
  
  .header {
    padding-top: 10px;
    width: inherit;
    height: auto;
    vertical-align: middle;
  }
  .märke{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

   }
   .bild{
    width: 70%;
    padding-left: 15%;
    height: auto;
    
   }
   .mat-button, .mat-raised-button{
    background-color:black;
    color:yellow;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 50px;
    text-align: center;
    padding:20px;
} 

