.grid-container {
    margin: 20px;
  }
  .container {
    position: relative;
    width: 100%;
  }
  
  .header {
    padding-top: 50px;
    width: inherit;
    height: auto;
    vertical-align: middle;
  }
  
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 55px;
  }
  .dashboard-card-clickable{
    cursor:pointer;
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 55px;
  }
  .dashboard-card-content {
    text-align: center;
  }
  .round_image {
    width: 100%;
    max-width: 150px;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    height: auto;
  }
  
  .container .overlay {
    position: absolute;
    bottom: 0;
    width:inherit;
    background: rgba(193, 73, 83, 0.8);
    transition: 0.5s ease;
    opacity: 0;
    color: white;
    font-size:inherit;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: center;
  }
  
  .overlay-text{
    padding-left: 20px;
    padding-right: 20px;
  }
  .container:hover .overlay {
    opacity: 1;
  }
  
  .img{
    width: 80%;
    height: auto;
    padding-left: 20px;
    padding-top: 10px;
  }
  
  
  