<style>
  body {
    background-image: url('assets/spelplan.svg');
  background-repeat: no-repeat;
  background-size: cover;

  }
  </style>
  <body class="padding" >
  <mat-grid-list cols="2" rowHeight="5px" gutterSize="200px">
    <mat-grid-tile rowspan="2" (click)="openDialogLegionen()">
      <mat-card class = "phadderi">
      <img src="assets/microrummet.svg">
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2" (click)="openDialogFamiljen()">
      <mat-card class = "phadderi">
      <img src="assets/fiket.svg">
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2" (click)="openDialogKretsn()">
      <mat-card class = "phadderi">
      <img src="assets/trappan.svg">
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2" (click)="openDialogNphad()">
      <mat-card class="phadderi">
      <img src="assets/täppan.svg">
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <audio controls autoplay loop>
    <source  src="assets/lat.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>
</body>