<style>
  body {
    background-image: url('assets/spelplan.svg');
  background-repeat: no-repeat;
  background-size: cover;

  }
  </style>
  <body class="padding" >
  <mat-grid-list cols="2" rowHeight="5px" gutterSize="200px">
    <mat-grid-tile rowspan="2" (click)="openDialogLegionen()">
      <mat-card class = "legionen">
      <img src="assets/microrummet.svg">
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2" (click)="openDialogFamiljen()">
      <mat-card class = "familjen">
      <img src="assets/fiket.svg">
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2" (click)="openDialogKretsn()">
      <mat-card class = "kretsn">
      <img src="assets/trappan.svg">
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2" (click)="openDialogNphad()">
      <mat-card class="n-phadderiet">
      <img src="assets/täppan.svg">
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</body>