.text{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}
.bakgrund{
    padding:100px;
}
img {
    max-width: 100%;
    width: 1000px;
    height: auto;
  }
  .lg-view{
    display:block;
  }
  h3 {
    font-family: Garamond, serif, cursive !important;
  }
  .sm-view{
    display:none;
    background-color: rgb(26, 20, 18);
    text-align: center;
    border-radius: 20px;
  }
  
  @media screen and (max-width: 600px) {
    .lg-view{
      display:none;
   }
  
   .sm-view{
      display:block;
   }
  }