<p>spelet works!</p>
<div class="text" data-aos="slide-up">
  <h2>SPELA MED IDOLKORT</h2>
  
Skurkeriet älskar att spela spel med Nollan. <br><br>

  <h4>NOLLAN BEHÖVER: </h4>
  
  Tre idolkort. Om Nollan har fler får Nollan välja ut tre kort
  att spela med. En annan Nollan. <br><br>

  <h4>SÅ HÄR SPELAR NOLLAN:</h4> 
  Varje Nollan tar sina
  tre kort och studerar dem. Phadderispelet handlar såväl om tur som
  skicklighet. <br>Försök lägga kortens färdighetspoäng på minnet. Vänd sedan på
  korten så avigsidan hamnar uppåt och blanda.<br> Framför vardera Nollan ligger nu
  en hög med tre kort i okänd ordning.<br> Utse vem av Nollan som ska börja.
   Spelare 1 bestämmer vilken av de tre färdigheterna 1, 2 eller 3 som
  ska spelas först.<br> På given signal vänder båda Nollan upp sitt översta kort i
  högen. Nollan med högst färdighetspoäng på den valda färdigheten vinner
  omgången.<br> Nu är det spelare 2:s tur att bestämma vilken av de resterande
  färdigheterna som ska spelas ut. Förslagsvis väljer spelare 2 ut en färdighet<br>
  som har höga poäng på båda återstående korten. På given signal vänder båda
  Nollan upp det översta kortet i högen.<br> Återigen ha Nollan med högst
  färdighetspoäng för den valda färdigheten vinner omgången. Om en av Nollan
  vunnit båda omgångarna är spelet slut.<br> Om Nollan vunnit en gång var fortsätter
  spelet. Nu återstår bara en färdighet att spelas ut. På given signal vänder
  båda Nollan upp det sista kortet i högen.<br> Om Nollan av en händelse skulle
  vinna lika många omgångar var vinner den Nollan som har flest använda
  färdighetspoäng.
</div>
