.text{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}
.bakgrund{
    padding:100px;
}
.img {
    max-width: 100%;
    width: 1000px;
    height: auto;
  }
  .lg-view{
    display:block;
  }
.img2{
  width: 100%;
  height: auto;
}
  .sm-view{
    display:none;
    text-align: center;
    border-radius: 20px;
    padding-top: 60px;
  }
  
  @media screen and (max-width: 600px) {
    .lg-view{
      display:none;
   }
  
   .sm-view{
      display:block;
   }
  }