<span class="lg-view">
  <div class="historia" data-aos="fade-up"></div>
  <div class="card">
    <div class="imgBox">
      <div class="bark"></div>
      <img src="assets/rulebook.png" />
    </div>
    <div class="details">
      <h4 style="text-align: center">Historia</h4>
      <br />
      <p class="text-left">
        Det finns en myt om ett spel, undangömt för världen, som ingen människa
        bör öppna. Spelkaraktärerna är listiga, illvilliga, kallhjärtade
        och dem alla har ett mörkt förflutet. Nu viskas det om att de har brutit sig
        ut från spelbrädet som hållit dem fängslade i årtionden. Storskurken var
        först, och valde då ut nio illasinnade skurkar som sina spelkamrater. Nu
        är det deras regler som gäller och ingen vet vad Skurkeriet planerar för
        slutspel. Men det viskas om att de är påväg till campus Norrköping och
        att det är där spelet tar sin början…
        <br /><br /><br />
        Vänd på korten för att lära känna Skurkeriet...
      </p>
    </div>
  </div>
</span>
<span class="sm-view">
  <h3> SKURKERIET <br><br>Det finns en myt om ett spel, undangömt för världen, som ingen människa
    bör öppna. Spelkaraktärerna är listiga, illvilliga, kallhjärtade
    och dem alla har ett mörkt förflutet. Nu viskas det om att de har brutit sig
    ut från spelbrädet som hållit dem fängslade i årtionden. Storskurken var
    först, och valde då ut nio illasinnade skurkar som sina spelkamrater. Nu
    är det deras regler som gäller och ingen vet vad Skurkeriet planerar för
    slutspel. Men det viskas om att de är påväg till campus Norrköping och
    att det är där spelet tar sin början…

  </h3>
</span>