<!-- <div class="padding">
    <img class="historia" src="assets/historia.svg" data-aos="fade-zoom-in"></div> -->
    <div class="historia" > 
        <div class="card">
		<div class="imgBox">
			<div class="bark"></div>
			<img src="assets/rulebook.svg">
		</div>
		<div class="details">
			<h1 class="text-center">House of Mystery</h1>
			<h2 class="text-center">It´s not just a game anymore</h2>
			<h3 class="text-center">Bakgrund</h3>
			<p class="text-left">Efter att ha spelat samma spel i årtionden sprider sig nu ett rykte om att 
				skurkeriet har tröttnat. Storskurken har samlat de listigaste, mest kallhjärtade och mörka karaktärerna
				och är nu påväg mot campus Norrköping för att spela ett nytt spel... 
				Spelet om Nolle-P.
			</p>
			<h3 class="text-center">Regler</h3>
			<p class="text-left">Vänd på korten för att veta mer om karaktärerna, 
				rulla tärningarna för att börja spelet och samla idolkort under Nolle-P för att lösa Mysteriet på Campus.
				Spelet börjar nu...
			</p>
			<p class="text-left"></p>
		</div>
	</div>
</div>
   