<div class="historia" data-aos="fade-up">
  <div class="card">
    <div class="imgBox">
      <div class="bark"></div>
      <img src="assets/rulebook.png" />
    </div>
    <div class="details">
      <h4 style="text-align: center;">Bakgrund</h4>
      <br>
      <p class="text-left">
        Storskurken har samlat de listigaste, mest kallhjärtade och mörka
        karaktärerna och befriat dem från spelplanen som hållit dem fängslade.
        Nu är det deras regler som gäller och ingen vet vad skurkeriet planerar
        för slutspel. Men det viskas om att de är påväg till campus Norrköping
        och att det är där spelet tar sin början…
		<br><br>
		Vänd på korten för att lära känna Skurkeriet...
      </p>
    </div>
  </div>
</div>
