.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background: rgb(248, 214, 64);
  height: 5px;
} 
.mat-tab-link {
color: white;
opacity: 1 !important;
}

.mat-tab-header {
position: fixed !important;
z-index:1000;
background-color:rgb(39, 39, 39);
width: 100%;
}
a{
  font-family: 'Trebuchet MS', sans-serif, cursive !important;

}