.container {
    height: 300px;
    width: 180px;
    display: block;
    position: relative;
    perspective: 800px;
    border-radius: 4px;
    background-color: #d4ea12;
    color: rgb(0, 0, 0);
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    gap: 20px;
    justify-content: center;
}
